<div class="container">
  <div class="text-center mt-5">
    <form class="form-of-forms">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Github username here"
          name="search"
          #search
          required
        />
        <button class="mt-4" mat-raised-button color="accent">Search</button>
      </div>
    </form>
  </div>
  <div class="row search-output">
    <div class="col-md-4">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title><strong>Ian Kiplagat</strong></mat-card-title>
          <mat-card-subtitle>Software Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="" alt="" />
      </mat-card>
    </div>
    <div class="col-md-6" style="margin-left: 180px">
      <mat-card class="card">
        <mat-card-content>
          <h5 class="card-title"><strong>Username:</strong></h5>
          <p class="card-text"><strong>Bio:</strong></p>
          <p class="card-text"><strong>Public Repositories:</strong></p>
          <p class="card-text"><strong>Followers:</strong></p>
          <p class="card-text"><strong>Following:</strong></p>
          <p class="card-text"><strong>Account Created on:</strong></p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">Visit Github</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<!--Footer-->
<footer class="footer-routes navbar-dark bg-dark py-3"></footer>
<!--/.Footer-->
