<div class="container jumbotron" id="landing">
  <h1 class="text-center header">
    <i class="fa fa-github fa-lg"></i> Github API
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title><strong>Ian Kiplagat</strong></mat-card-title>
          <mat-card-subtitle>Software Developer</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://avatars.githubusercontent.com/u/78469773?s=400&u=c5ada583a0141c124599d4893b8a189c04216711&v=4"
          alt="Ian Kiplagat" 
        />
      </mat-card>
    </div>
    <div class="col-md-6" style="margin-left: 180px;">
      <mat-card class="card">
        <mat-card-content>
          <h5 class="card-title"><strong>Username: {{ user.username}}</strong></h5>
        <p class="card-text"><strong>Bio: {{ user.bio }}</strong></p>
        <p class="card-text"><strong>Public Repositories:</strong></p>
        <p class="card-text"><strong>Followers:</strong></p>
        <p class="card-text"><strong>Following:</strong></p>
        <p class="card-text"><strong>Account Created on:</strong></p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">Visit Github</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div>
    <h3 class="found-repos"><strong>Found Repositories</strong></h3>
  </div>
</div>
  <!--Footer-->
  <footer class="text-center">
    <hr class="my-4">

    <!-- Social icons -->
    <div class="socials navbar-dark bg-light pb-4">
      <a href="https://www.facebook.com/" target="_blank">
        <i class="circle-link fa fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/" target="_blank">
        <i class="circle-link fa fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/" target="_blank">
        <i class="circle-link fa fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/" target="_blank">
        <i class="circle-link fa fa-envelope mr-3"></i>
      </a>

      <a href="circle-link https://pinterest.com/" target="_blank">
        <i class="circle-link fa fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/" target="_blank">
        <i class="circle-link fa fa-github mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="copyright navbar-dark bg-dark py-3">
      © 2021 Copyright:
      <a href="#" target="_blank"> Ian Kiplagat </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->
