<div class="container jumbotron" id="landing">
  <ng-progress></ng-progress>
  <h1 class="text-center header">
    <i class="fa fa-github fa-lg"></i> Github API
  </h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 profilep">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title
            ><strong>{{ user.name }}</strong></mat-card-title
          >
          <mat-card-subtitle>Software Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ user.avatar_url }}" alt="Ian Kiplagat" />
      </mat-card>
    </div>
    <div class="col-md-6 profilep">
      <mat-card class="card">
        <mat-card-content>
          <h5 class="card-title">
            <strong>Username: {{ user.login }}</strong>
          </h5>
          <p class="card-text">
            <strong>Bio: {{ user.bio }}</strong>
          </p>
          <p class="card-text">
            <strong>Public Repositories: {{ user.public_repos }}</strong>
          </p>
          <p class="card-text">
            <strong>Followers: {{ user.followers }}</strong>
          </p>
          <p class="card-text">
            <strong>Following: {{ user.following }}</strong>
          </p>
          <p class="card-text">
            <strong>Account Created on: {{ user.created_at | date }}<span id="time"> ({{ user.created_at | daycreated }}</span> days
              ago)</strong>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="{{ user.html_url }}"
            ><button appClick mat-raised-button color="primary">Visit Github</button></a
          >
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <button mat-raised-button color="primary" (click)="getRepo(user.login)">
      View Repository
    </button>
  </div>
  <div
    class="container card repo-display mt-3 mb-3"
    *ngFor="let repository of repositories"
  >
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="pt-3"
        ><strong>{{ repository.name }}</strong></mat-card-title
      >
      <mat-card-subtitle
        >Created: {{ repository.created_at | date }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div>{{ repository.description }}</div>
      <div class="mt-2">Language used: {{ repository.language }}</div>
      <div class="row mt-2 mb-4">
        <div class="col-6">Watchers: {{ repository.watchers }}</div>
        <div class="col-6">Forks: {{ repository.forks }}</div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-outline-primary btn-sm">
            <a href="{{ repository.svn_url }}" target="_blank" class="card-link"
              >View code</a
            >
          </button>
        </div>
        <div class="col-md-6 posts">
          <button type="button" class="btn btn-outline-primary btn-sm">
            <a
              class="col-md-4"
              href="{{ repository.homepage }}"
              target="_blank"
              class="card-link"
              >Live site</a
            >
          </button>
        </div>
      </div>
    </mat-card-content>
  </div>
</div>
<!--Footer-->
<footer class="text-center">
  <hr class="my-4" />

  <!-- Social icons -->
  <div class="socials navbar-dark bg-light pb-4">
    <a href="https://www.facebook.com/" target="_blank">
      <i class="circle-link fa fa-facebook-f mr-3"></i>
    </a>

    <a href="https://twitter.com/" target="_blank">
      <i class="circle-link fa fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/" target="_blank">
      <i class="circle-link fa fa-youtube mr-3"></i>
    </a>

    <a href="https://plus.google.com/" target="_blank">
      <i class="circle-link fa fa-envelope mr-3"></i>
    </a>

    <a href="circle-link https://pinterest.com/" target="_blank">
      <i class="circle-link fa fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/" target="_blank">
      <i class="circle-link fa fa-github mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="copyright navbar-dark bg-dark py-3">
    © 2021 Copyright:
    <a href="#" target="_blank"> Ian Kiplagat </a>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
