<div class="container">
  <form class="form-of-forms">
    <div class="text-center mt-5">
      <div class="form-group">
        <input
          id=""
          type="text"
          class="form-control"
          placeholder="Search for a repository here"
          name="searchrepo"
          #searchrepo
          required
        />
        <button class="mt-4" mat-raised-button color="accent">Search</button>
      </div>
    </div>
  </form>
  <div class="search-output">
    <h3 class="found-repos"><strong>Found Repositories</strong></h3>
  </div>
</div>
<!--Footer-->
<footer class="footer-routes navbar-dark bg-dark py-3"></footer>
<!--/.Footer-->
