<div class="container">
  <ng-progress></ng-progress>
  <form class="form-of-forms" (ngSubmit)="getRepo()" #searchForm="ngForm">
    <div class="text-center mt-5">
      <div class="form-group">
        <input
          id="search"
          type="text"
          class="form-control"
          placeholder="Search a repository"
          name="search"
          [(ngModel)]="newSearch"
          #search="ngModel"
          required
        />
        <button class="mt-4" mat-raised-button color="primary">Search</button>
      </div>
    </div>
  </form>
  <div class="search-output">
    <h3 class="found-repos"><strong>Found Repositories</strong></h3>
    <div
      class="container card repo-display pt-2 pb-3"
      style="margin-bottom: 20px"
      *ngFor="let repository of repository"
    >
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title class="pt-3"
          ><strong>{{ repository.name }}</strong></mat-card-title
        >
        <span
          ><mat-card-subtitle
            >Created: {{ repository.created_at | date }}</mat-card-subtitle
          ></span
        >
      </mat-card-header>
      <mat-card-content>
        <div>{{ repository.description }}</div>
        <div class="mt-2">Language used: {{ repository.language }}</div>
        <div class="row mt-2 mb-4">
          <div class="col-6">Watchers:{{ repository.watchers }}</div>
          <div class="col-6">Forks:{{ repository.forks }}</div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-outline-primary btn-sm">
              <a
                href="{{ repository.svn_url }}"
                target="_blank"
                class="card-link"
                >View code</a
              >
            </button>
          </div>
          <div class="col-md-6 posts">
            <button type="button" class="btn btn-outline-primary btn-sm">
              <a
                class="col-md-4"
                href="{{ repository.homepage }}"
                target="_blank"
                class="card-link"
                >Live site</a
              >
            </button>
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
</div>
<!--Footer-->
<footer class="footer-routes navbar-dark bg-dark py-3"></footer>
<!--/.Footer-->
