<div class="container">
  <form>
    <div class="text-center">
      <div class="form-group">
        <input
          id=""
          type="text"
          class="form-control"
          placeholder="Search for a repository here"
          name="searchrepo"
          #searchrepo
          required
        />
        <button mat-raised-button color="accent">Search</button>
      </div>
    </div>
  </form>
  <div>
    <h3 class="found-repos"><strong>Found Repositories</strong></h3>
  </div>
</div>
